<h2 class="columns small-12">Your Recipe Cart</h2>
<div class="cart-recipe-block columns small-12 end">
  <% if current_user.cart.recipes.length > 0 %>
    <% current_user.cart.recipes.each do |recipe| %>
      <div class="recipe-name columns small-8">
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <%= button_to 'Remove from cart', recipe_cart_path, method: :delete, params: { recipe_id: recipe.id }, class: "delete-from-index-button button tiny round inline left" %>
      </div>
    <% end %>
    <%= button_to 'Clear cart', recipe_cart_path, params: { recipe_id: 'all' }, method: :delete, class: "delete-all-recipes-button button expaned round" %>
  <% else %>
    No recipes added!
  <% end %>
</div>
