<h2 class="columns small-12">Your Recipe Cart</h2>
<div class="cart-recipe-block columns small-12 end">
  <% if current_user.cart.recipes.length > 0 %>
    <% current_user.cart.recipes.each do |recipe| %>
      <div class="recipe-name colums small-12">
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
      </div>
    <% end %>
  <% else %>
    No recipes added!
  <% end %>
</div>
