<h2>Your Recipe Cart</h2>

<div class="row">
  <div class="cart-recipe-block columns small-6">
    <% if current_user.cart.recipes.length > 0 %>
      <% current_user.cart.recipes.each do |recipe| %>
        <%= link_to recipe.name, recipe_path(recipe) %>
      <% end %>
    <% else %>
      No recipes added!
    <% end %>
  </div>
</div>
