<h1>Ingredient List</h1>

<% @ingredients.each do |ingredient| %>
  <div class="ingredient-entry">
    <%= ingredient.description %>
    <% if current_user.present? %>
      <% if current_user.role == 'moderator' || current_user.role == 'admin' %>
        <%= button_to "Edit", edit_ingredient_path(ingredient), method: :get %>
        <%= button_to "Delete", ingredient, method: :delete %>
      <% end %>
    <% end %>
  </div>
<% end %>
<% if current_user.present? %>
  <% if current_user.role == 'moderator' || current_user.role == 'admin' %>
    <%= button_to 'Add an ingredient', new_ingredient_path, method: :get %>
  <% end %>
<% end %>
