<%= form_for(@ingredient) do |form| %>
  <div class="field column small-12">
    <%= form.text_field :name, class: "ingredient-input-field", id: "ingredient-name-input", placeholder: "Ingredient name" %>
  </div>
  <div class="field column small-12">
    <%= form.text_field :subtype, class: "ingredient-input-field", id: "ingredient-subtype-input", placeholder: "Optional subtype" %>
  </div>
  <div class="actions">
    <%= form.submit "Add this ingredient", class: "button expand round medium" %>
  </div>
<% end %>
