$bright-green: #38912e;
$bright-red: #aa3939;
$bright-blue: #3842a1;
$light-green: #d5e8d3;
$light-yellow: #f7f2de;
$light-orange: #e6cba5;
$dark-orange: #e6b39a;
$brown: #664847;
$slate: #6d7578;
$blue-gray: #8b9e9b;
$black: #333;
$white: #fffffe;
$light-blue: #f6fdfe;
