$light-green: #d5e8d3;
$light-yellow: #f7f2de;
$light-orange: #e6cbA5;
$dark-orange: #e6b39A;
$brown: #664847;
$slate: #6D7578;
$blue-gray: #8b9e9b;
$black: #333;
$white: #fffffe;
$light-blue: #f6fdfe;
