@import "colors";

.recipe-name-input-block textarea {
  font-size: 16pt;
  font-family: 'Lobster', cursive;
  background-color: $white;
  color: $slate;
  border-color: darken($light-yellow, 5%);
  border-radius: 5px;
}

.recipe-attributes-block {
  padding: 0 5px;
  border-radius: 5px;
  background-color: $dark-orange;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  font-size: 14pt;
  padding-top: 10px;
}

.recipe-attributes-block input {
  background-color: $white;
  color: $slate;
  border-color: darken($dark-orange, 5%);
  border-radius: 5px;
}

.recipe-attribute-input label {
  font-size: 10pt;
}

.recipe-add-categories-block {
  padding: 0 5px;
  border-radius: 5px;
  background-color: $light-orange;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  font-size: 14pt;
  padding-top: 15px;
  margin: 20px 0;
}

.recipe-add-categories-block select {
  background-color: $white;
  color: $slate;
  border-color: darken($light-orange, 5%);
  border-radius: 5px;
}

.recipe-add-ingredients-block {
  padding: 0 5px;
  border-radius: 5px;
  background-color: $light-green;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  font-size: 14pt;
  padding-top: 10px;
  margin-bottom: 20px;
}

.recipe-add-ingredients-block select {
  background-color: $white;
  border-color: darken($light-green, 5%);
  border-radius: 5px;
  color: $slate;
}

.recipe-add-ingredients-block input {
  background-color: $white;
  border-color: darken($light-green, 10%);
  border-radius: 5px;
  color: $slate;
}

.recipe-add-steps-block {
  background-color: $light-green;
  border-radius: 5px;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  font-size: 14pt;
  padding: 15px 15px 0 15px;
}

.recipe-add-steps-block textarea {
  background-color: $white;
  color: $slate;
  border-color: darken($light-green, 10%);
  border-radius: 5px;
}

.actions {
  margin-top: 20px;
}

.recipe-button {
  background-color: $light-yellow;
  color: $slate;
  font-family: 'Lobster', cursive;
  font-size: 16pt;
  &:hover {
    background-color: $slate;
    box-shadow: 2px 2px 1px darken($light-yellow, 70%);
    color: $white; }
}
