@import "colors";

@mixin infoblock($bg-color) {
  background-color: $bg-color;
  border-radius: 5px;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  padding: 0 5px;

}

@mixin biginfoblock($bg-color, $shadow-color) {
  background-color: $bg-color;
  border-color: darken($shadow-color, 10%);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 4px 4px 2px darken($shadow-color, 70%);
}

.recipe-info-block {
  padding-bottom: 20px;
}

.recipe-info-attr {
  @include infoblock($dark-orange);
}

.category-name {
  @include infoblock($light-orange);
  margin: 0 2px;
}

.ingredient-row {
  padding-bottom: 20px;
}

.ingredient-block {
  @include biginfoblock($light-green, $light-yellow);
  margin-left: 10px;
  padding: 5px;
}

.ingredient-listing {
  padding: 2px 0;
}

.step-block {
  @include biginfoblock($light-green, $light-yellow);
  margin: 0 10px 20px 0;
  padding: 5px;
}

.recipe-step-index {
  font-family: 'Lobster', cursive;
  font-size: 14pt;
  margin-left: 5px;
}

.recipe-step {
  @include biginfoblock($light-blue, $light-green);
  box-shadow: 2px 2px 1px darken($light-green, 70%);
  margin: 5px 8px 5px 5px;
  padding: 10px 0;
}

.recipe-step-body {
  margin: 5px 5px 5px 20px;
}
