@import "colors";

.recipe-name {
  font-family: 'Lobster', cursive;
  font-size: 20pt;
  margin: 0 10px;

  a {
    color: $blue-gray;
  }

  a:hover {
    color: $slate;
  }
}

.delete-from-index-button {
  background-color: $light-yellow;
  color: $black;
  margin: 0 2px;
  padding: 2px;

  &:hover {
    background-color: $slate;
    color: $white;
  }
}

.recipe-info-index {
  margin: 0 0 10px 20px;
}

.recipe-index-header {
  span {
    margin-top: 5px;
  }
}

.your-recipes {
  font-family: 'Lobster', cursive;
  font-size: 30pt;
}
