@import "colors";

@mixin fieldstyle($border-color) {
  background-color: $white;
  border-color: darken($border-color, 5%);
  border-radius: 5px;
  color: $slate;
}

.recipe-form-header {
  font-family: 'Lobster', cursive;
  font-size: 20pt;
}

.form-button {
  background-color: $light-green;
  color: $black;

  &:hover {
    background-color: $slate;
    color: $white;
  }
}

#new-step-button {
  font-size: 12pt;
  margin: 0 0 5px 5px;
}

#new-ingredient-button {
  font-size: 12pt;
  margin: 0 0 5px 5px;
}

#new-category-button {
  background-color: $light-orange;
  font-size: 12pt;
  margin: 0 0 5px 5px;

  &:hover {
    background-color: $slate;
    color: $white;
  }
}

.recipe-name-input-block textarea {
  background-color: $white;
  border-color: darken($light-yellow, 5%);
  border-radius: 5px;
  color: $slate;
  font-family: 'Lobster', cursive;
  font-size: 16pt;
}

.recipe-attributes-block {
  background-color: $dark-orange;
  border-radius: 5px;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  font-size: 14pt;
  padding: 0 5px;
  padding-top: 10px;
  margin: 0 0 20px 15px;

  input {
    @include fieldstyle($dark-orange);
  }

  select {
    @include fieldstyle($dark-orange);
  }
}

.recipe-attribute-input label {
  font-size: 10pt;
}

.recipe-add-categories-block {
  background-color: $light-orange;
  border-radius: 5px;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  font-size: 14pt;
  margin: 0 0 20px 15px;
  padding: 15px 0 0;

  select {
    @include fieldstyle($light-orange);
  }
}

.recipe-add-ingredients-block {
  background-color: $light-green;
  border-radius: 5px;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  font-size: 14pt;
  margin: 0 0 20px 15px;
  padding: 0 5px;
  padding-top: 15px;

  select {
    @include fieldstyle($light-green);
  }

  input {
    @include fieldstyle($light-green);
  }
}

.recipe-add-steps-block {
  background-color: $light-green;
  border-radius: 5px;
  box-shadow: 2px 2px 1px darken($light-yellow, 70%);
  font-size: 14pt;
  margin-left: 15px;
  padding: 15px 15px 0;

  textarea {
    @include fieldstyle($light-green);
  }
}

.actions {
  margin-top: 20px;
  margin-bottom: 0;
}

.recipe-button {
  background-color: $light-yellow;
  color: $slate;
  font-family: 'Lobster', cursive;
  font-size: 16pt;
  margin-top: 5px;

  &:hover {
    background-color: $slate;
    box-shadow: 2px 2px 1px darken($light-yellow, 70%);
    color: $white; }
}

.new-recipe-wrapper {
  margin-left: 50px;
}
