@import "colors";

#new_user {

  input {
    background-color: $white;
    border-color: darken($light-yellow, 5%);
    border-radius: 5px;
    color: $slate;
    font-size: 14pt;
    margin: 15px 0;

    &.button {
      background-color: $light-yellow;
      border-radius: 1000px;
      color: $slate;
      font-size: 16pt;
      margin: 10px 0;

      &:hover {
        background-color: $slate;
        box-shadow: 2px 2px 1px darken($light-yellow, 70%);
        color: $white; }
    }
  }
}
